/* table, td, th {
   border: 2px solid black;
    
}

td, th {
    align-content: center;
    text-align: center;
} */

img {
    height: 150px;
    width: 200px;
}
table{
    
    background-color: rgb(235, 232, 232);
    
}
