
form{
    display: flex;
    margin-top: 20px;
}
div {
    margin: 0 auto;
}
input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}
button {
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
}
i {
    width: 30px;
}
